@model VehicleViewModel
@{
  ViewData["Title"] = "Edita locação";
}

@if (Model != null)
{
  <div class="text-center">

    <h1 class="display-4">Edita locação</h1>

    <form method="post" asp-action="Edit">
      <input type="hidden" asp-for="Id" />

      <div class="mb-3">
        <label for="Name">Veículo</label>
        <input type="text" class="form-control" asp-for="Name">
      </div>

      <div class="mb-3">
        <label for="Brand">Marca</label>
        <input type="text" class="form-control" asp-for="Brand">
      </div>

      <div class="mb-3">
        <label for="MarketPrice">Valor de Mercado</label>
        <input type="text" class="form-control" asp-for="MarketPrice">
      </div>

      <div class="mb-3">
        <label for="LeaseStart">Início locação</label>
        <input type="date" class="form-control" asp-for="LeaseStart">
      </div>

      <div class="mb-3">
        <label for="LeaseEnd">Fim locação</label>
        <input type="date" class="form-control" asp-for="LeaseEnd">
      </div>

      <div class="mb-3">
        <label for="Renter">Locatário</label>
        <input type="text" class="form-control" asp-for="Renter">
      </div>

      <button class="btn btn-primary">Salvar</button>
    </form>
  </div>
}
else
{
  <p>O modelo não foi inicializado.</p>
}