@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Gestão de Frota🚙</h1>
  <p class="lead">
    Confira a documentação da API
    <a href="@Configuration.Api.BaseUrl/swagger/index.html">aqui</a>.
  </p>
</div>

<div class="container-sm">
  <table class="table table-responsive table-bordered text-center">
    <thead>
      <tr>
        <th scope="col" colspan="2">Recursos</th>
      </tr>
      <tr>
        <th scope="col" class="col-6">Implementado✅</th>
        <th scope="col" class="col-6">Melhorias🚀</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-6">CRUD básico para veículos</td>
        <td class="col-6">Validações, filtros e paginação</td>
      </tr>
      <tr>
        <td class="col-6">Interface usando Razor pages</td>
        <td class="col-6">Criar login e senha para uso</td>
      </tr>
      <tr>
        <td class="col-6">API rodando na Azure</td>
        <td class="col-6">Segurança Token JWT + Bearer</td>
      </tr>
      <tr>
        <td class="col-6">Banco de dados na Cloud Clusters</td>
        <td class="col-6">Criar rotina de backup</td>
      </tr>
    </tbody>
  </table>
</div>

