@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Gestão de Frota🚙</h1>
  <p class="lead">
    Confira a documentação da API
    <a href="@Configuration.Api.BaseUrl/swagger/index.html">aqui</a>.
  </p>
</div>
